.wrap > .container {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.adv-default-index h3, .adv-default-index label {
	font-weight: 300!important;
}
.dropdown-menu {
    color: #555555!important;
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	
}
.drop-time li > a {
    color: #5a5a5a!important;
}
input[type=checkbox] {
	width: 20px;
	height: 20px;
}
.chosen-results {
	text-align: left;
}
/*Кнопки*/
.button-panel-active {
	border: 1px solid #39b54a;
	color: #fff;
	height: 40px;
	cursor: default;
	font-size: 14px;
	line-height: 38px;
	border-radius: 3px;
	text-align: center;
	background: #39b54a;
}
.button-panel-noactive {
	height: 40px;
	cursor: pointer;
	font-size: 14px;
	background: #fff;
	line-height: 38px;
    border-radius: 3px;
	text-align: center;
	border: 1px solid #5a5a5a;
}
.button-panel-disabled {
	color: #aaa;
	height: 40px;
	cursor: no-drop;
	font-size: 14px;
	background: #eee;
	line-height: 38px;
    border-radius: 3px;
	text-align: center;
	border: 1px solid #aaa;
}
.button-panel-blue {
	height: 40px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 38px;
    border-radius: 3px;
	text-align: center;
	background: #27aae1;
}
/*Чекбокс*/
.checkbox-panel-active {
	border: 1px;
	color: #fff;
	height: 40px;
	cursor: default;
	font-size: 14px;
	line-height: 38px;
	border-radius: 3px;
	background: #39b54a;
	
}
.checkbox-panel-noactive {
	height: 40px;
	cursor: pointer;
	font-size: 14px;
	background: #fff;
	line-height: 38px;
	border-radius: 3px;
	border: 1px solid #39b54a;
}
/*Блоки*/
.first-block, .format-block, .two-block, .conditions, .last-block {
	margin: 0 auto;
	padding-top: 10px;
	max-width: 620px;
}
.first-block {
	padding-top: 16px;
}
.terminals-table {
	margin: 0 auto;
	max-width: 940px;
}
/***/
.first-block h3 {
	margin-bottom: 30px;
}
.fromat_update #showVizitki_chosen {
	margin-top: 10px;
	margin-bottom: 25px;
}
.fromat_update #showTime_chosen {
	margin-bottom: 25px;
}
/***/
.two-block .slider {
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 45px;
	/* background: #d1d3d4; */
}
.two-block .slider .slick-slide {
	outline: none!important;
}
.two-block {
	max-width: 920px;
}
.two-block .slider .slick-prev {
	background: url(/images/arrow-left-1.svg)!important;
}
.two-block .slider .slick-prev:before {
	content: ''!important;
}
.two-block .slider .slick-prev:hover {
	background: url(/images/arrow-left-2.svg)!important;
}
.two-block .slider .slick-prev:active {
	background: url(/images/arrow-left-3.svg)!important;
}
.two-block .slider .slick-next {
	background: url(/images/arrow-right-1.svg)!important;
}
.two-block .slider .slick-next:before {
	content: ''!important;
}
.two-block .slider .slick-next:hover {
	background: url(/images/arrow-right-2.svg)!important;
}
.two-block .slider .slick-next:active {
	background: url(/images/arrow-right-3.svg)!important;
}
.two-block .slider .slick-dots button:before {
	color: #000!important;
	font-size: 13px;
}
.two-block .slider .slick-dots  li {
	margin: 0!important;
}
.two-block .template-header {
	font-size: 14px;
	margin-top: 12px;
	font-weight: bold;
}
.two-block .template-selection-form {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 300px;
}
.two-block input[type=checkbox]{
	width: 20px;
	height: 20px;
	margin-top: 20px;
}
.two-block .info-input {
	display: none;
}
/***/
.conditions .table {
	width: 300px;
	margin: 0 auto;
	margin-top: 12px;
}
.conditions .table-border {
	width: 300px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #5a5a5a;
}
.conditions .table th, .conditions .table td {
	border: none;
	font-size: 12px;
	vertical-align: middle;
}
.conditions .table-border .table{
	margin-top: 0;
}
.conditions .table-border input[type=checkbox]{
	width: 20px;
	height: 20px;
}
.period-date {
	margin-top: 15px;
	height: 64px;
}
.period-date>div:last-child {
	border-left: 1px solid black;
}
.period-date .input-group-addon {
	padding: 4px 12px!important;
	background: none!important;
	border-left: none!important;
	border-top: 1px solid #ccc!important;
	border-bottom: 1px solid #ccc!important;
	border-right: 1px solid #ccc!important;
}
.period-picker {
	height: 40px!important;
	font-size: 18px!important;
    font-weight: 500!important;
	padding-left: 8px!important;
	border-top: 1px solid #ccc!important;
	border-left: 1px solid #ccc!important;
	border-right: none!important;
	border-bottom: 1px solid #ccc!important;
}
.period-calendar {
	content: url(/images/activeCAL.svg);
}
.period-calendar-right {
	width: 23px!important;
	height: 25px!important;
	margin: 7px 0 8px 0px!important;
	background: url(/images/nonactiveCAL.svg) no-repeat;
}

.last-date {
	padding-top: 10px;
    margin-left: -10px;
	font-size: 18px!important;
	font-weight: 500!important;
}
/***/
.last-block .field-tadv-places {
	margin-top: 20px;
	margin-bottom: 30px;
}
.last-block .place-change {
	font-size: 14px;
	margin-top: 35px;
	font-weight: bold;
}
.last-block .place {
	height: 16px;
    font-size: 12px;
	line-height: 14px;
	margin-right: 5px;
	padding-left: 5px;
    padding-right: 2px;
	border-radius: 3px;
	display: inline-block;
	border: 1px solid #a7a7a7;
}
.last-block .place .times {
    width: 10px;
    height: 10px;
	outline: none;
    color: #ccc;
    background: #000;
    border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	margin-left: 5px;
	vertical-align: -10%!important;
	cursor: pointer!important;
}
/******/
.terminals-table {
	width: 740px;
}
.terminals-table thead th {
	border: none!important;
	font-size: 14px!important;
	font-weight: normal!important;
}
.terminals-table thead th a {
	text-decoration: underline;
}
.terminals-table thead th a sub {bottom: 0;}
.terminals-table tbody td {
	border-top: none!important;
	vertical-align: middle!important;
	border-bottom: 1px dashed black;
	padding-top: 20px!important;
	padding-bottom: 20px!important;
	font-size: 14px!important;
}
.terminals-table tbody td:nth-child(1) div:nth-child(1) {
    width: 50px;
    height: 50px;
    background: #ccc;
    text-align: center;
    float: left;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.terminals-table tbody td:nth-child(1) div:nth-child(2) {
    width: 200px;
	height: 50px;
    text-align: center;
    float: left;
	border: 1px solid black;
}
.terminals-table tbody td:last-child input[type="checkbox"] {
	width: 20px;
    height: 20px;
}

/******/
.order .padding-block {
	padding-top: 3px;
}
.order {
    margin: 0 auto;
	max-width: 740px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.order .margin-top {margin-top: -5px;}
.order .text-bold {font-weight: bold;}