/* Catalog */
@media  (min-width: 1245px) {
    .period-picker {
        background-color: #ffffff;
        height: 35px;
        border-right: 0;
    }
}
@media  (max-width: 1244px) {
    .period-picker {
        background-color: #ffffff;
        height: 35px;
        border-right: 0;
    }
}
.calendar-button-style {
    background-color: #ffffff;
}





