/* Catalog */
.form-group {
    margin-bottom: 5px;
}
.input-group-addon {
    height: 30px; padding: 2px 5px 0 5px;
}
#datafieldsform-birthdate-kvdate {
    width: 140px; float: right;
}
#datafieldsform-birthdate {
    height: 30px !important; text-align: right !important; padding-right: 10px !important; font-size: 14px;
}
.chosen-container {

}
.chosen-container .chosen-container-single {
}
.chosen-single {
    display: block;
    height: 30px !important;
}
.chosen-single > span {
    line-height: 30px !important;
}
.panel-heading {
    background-color: #448aff !important;
}
.panel-title {
    color: #ffffff;
}
#educationform-startdate {
    text-align: right !important;
}
#educationform-enddate {
    text-align: right !important;
}
.field-educationform-startdate {
    padding: 0 !important;
    border: 0 !important;
}
.field-educationform-enddate {
    padding: 0 !important;
    border: 0 !important;
}
.field-workform-startdate {
    padding: 0 !important;
    border: 0 !important;
}
.field-workform-enddate {
    padding: 0 !important;
    border: 0 !important;
}
.has-error > .chosen-container {
    border: 1px solid #a94442 !important;
    border-radius: 2px;
}


